<?xml version="1.0" encoding="UTF-8"?><plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="phonegap-plugin-barcodescanner"
    version="5.1.1-de">

    <name>BarcodeScanner</name>
    <description>You can use the BarcodeScanner plugin to scan different types of barcodes (using the device's camera) and get the metadata encoded in them for processing within your application.</description>
    <license>MIT</license>

    <repo>https://github.com/phonegap/phonegap-plugin-barcodescanner</repo>
    <issue>https://github.com/phonegap/phonegap-plugin-barcodescanner/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/barcodescanner.js" name="BarcodeScanner">
        <clobbers target="cordova.plugins.barcodeScanner" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova >= 2.8 -->
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="ios-package" value="CDVBarcodeScanner" />
            </feature>
        </config-file>

        <resource-file src="src/ios/scannerOverlay.xib" />
        <resource-file src="src/ios/CDVBarcodeScanner.bundle" />


        <source-file src="src/ios/CDVBarcodeScanner.mm" compiler-flags="-fno-objc-arc" />

        <source-file src="src/ios/zxing-cpp/core/src/bigint/BigInteger.cc" target-dir="bigint" />
        <source-file src="src/ios/zxing-cpp/core/src/bigint/BigIntegerAlgorithms.cc" target-dir="bigint" />
        <source-file src="src/ios/zxing-cpp/core/src/bigint/BigIntegerUtils.cc" target-dir="bigint" />
        <source-file src="src/ios/zxing-cpp/core/src/bigint/BigUnsigned.cc" target-dir="bigint" />
        <source-file src="src/ios/zxing-cpp/core/src/bigint/BigUnsignedInABase.cc" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigInteger.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigIntegerAlgorithms.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigIntegerLibrary.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigIntegerUtils.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigUnsigned.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/BigUnsignedInABase.hh" target-dir="bigint" />
        <header-file src="src/ios/zxing-cpp/core/src/bigint/NumberlikeArray.hh" target-dir="bigint" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/aztec/AztecDetectorResult.cpp" target-dir="zxing/aztec" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/aztec/AztecReader.cpp" target-dir="zxing/aztec" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/aztec/decoder/Decoder.cpp" target-dir="zxing/aztec/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/aztec/detector/Detector.cpp" target-dir="zxing/aztec/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/BarcodeFormat.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/Binarizer.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/BinaryBitmap.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/ChecksumException.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/BitArray.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/BitArrayIO.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/BitMatrix.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/BitSource.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/CharacterSetECI.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/DecoderResult.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/MonochromeRectangleDetector.cpp" target-dir="zxing/common/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/WhiteRectangleDetector.cpp" target-dir="zxing/common/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/DetectorResult.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/GlobalHistogramBinarizer.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/GreyscaleLuminanceSource.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/GreyscaleRotatedLuminanceSource.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/GridSampler.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/HybridBinarizer.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/IllegalArgumentException.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/PerspectiveTransform.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/GenericGF.cpp" target-dir="zxing/common/reedsolomon" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/GenericGFPoly.cpp" target-dir="zxing/common/reedsolomon" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/ReedSolomonDecoder.cpp" target-dir="zxing/common/reedsolomon" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/ReedSolomonException.cpp" target-dir="zxing/common/reedsolomon" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/Str.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/common/StringUtils.cpp" target-dir="zxing/common" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/DataMatrixReader.cpp" target-dir="zxing/datamatrix" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/BitMatrixParser.cpp" target-dir="zxing/datamatrix/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/DataBlock.cpp" target-dir="zxing/datamatrix/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/DecodedBitStreamParser.cpp" target-dir="zxing/datamatrix/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/Decoder.cpp" target-dir="zxing/datamatrix/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/CornerPoint.cpp" target-dir="zxing/datamatrix/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/Detector.cpp" target-dir="zxing/datamatrix/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/DetectorException.cpp" target-dir="zxing/datamatrix/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/Version.cpp" target-dir="zxing/datamatrix" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/DecodeHints.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/Exception.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/FormatException.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/InvertedLuminanceSource.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/LuminanceSource.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/ByQuadrantReader.cpp" target-dir="zxing/multi" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/GenericMultipleBarcodeReader.cpp" target-dir="zxing/multi" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/MultipleBarcodeReader.cpp" target-dir="zxing/multi" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/detector/MultiDetector.cpp" target-dir="zxing/multi/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/detector/MultiFinderPatternFinder.cpp" target-dir="zxing/multi/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/QRCodeMultiReader.cpp" target-dir="zxing/multi/qrcode" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/MultiFormatReader.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/CodaBarReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code128Reader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code39Reader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code93Reader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/EAN13Reader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/EAN8Reader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/ITFReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/MultiFormatOneDReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/MultiFormatUPCEANReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/OneDReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/OneDResultPoint.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCAReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCEANReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCEReader.cpp" target-dir="zxing/oned" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/BitMatrixParser.cpp" target-dir="zxing/pdf417/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/DecodedBitStreamParser.cpp" target-dir="zxing/pdf417/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/Decoder.cpp" target-dir="zxing/pdf417/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ErrorCorrection.cpp" target-dir="zxing/pdf417/decoder/ec" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ModulusGF.cpp" target-dir="zxing/pdf417/decoder/ec" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ModulusPoly.cpp" target-dir="zxing/pdf417/decoder/ec" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/detector/Detector.cpp" target-dir="zxing/pdf417/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/detector/LinesSampler.cpp" target-dir="zxing/pdf417/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/PDF417Reader.cpp" target-dir="zxing/pdf417" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/BitMatrixParser.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DataBlock.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DataMask.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DecodedBitStreamParser.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/Decoder.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/Mode.cpp" target-dir="zxing/qrcode/decoder" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/AlignmentPattern.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/AlignmentPatternFinder.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/Detector.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPattern.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPatternFinder.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPatternInfo.cpp" target-dir="zxing/qrcode/detector" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/ErrorCorrectionLevel.cpp" target-dir="zxing/qrcode" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/FormatInformation.cpp" target-dir="zxing/qrcode" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/QRCodeReader.cpp" target-dir="zxing/qrcode" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/Version.cpp" target-dir="zxing/qrcode" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/Reader.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/Result.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/ResultIO.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/ResultPoint.cpp" target-dir="zxing" />
        <source-file src="src/ios/zxing-cpp/core/src/zxing/ResultPointCallback.cpp" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/aztec/AztecDetectorResult.h" target-dir="zxing/aztec" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/aztec/AztecReader.h" target-dir="zxing/aztec" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/aztec/decoder/Decoder.h" target-dir="zxing/aztec/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/aztec/detector/Detector.h" target-dir="zxing/aztec/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/BarcodeFormat.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/Binarizer.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/BinaryBitmap.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/ChecksumException.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/Array.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/BitArray.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/BitMatrix.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/BitSource.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/CharacterSetECI.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/Counted.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/DecoderResult.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/JavaMath.h" target-dir="zxing/common/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/MathUtils.h" target-dir="zxing/common/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/MonochromeRectangleDetector.h" target-dir="zxing/common/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/detector/WhiteRectangleDetector.h" target-dir="zxing/common/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/DetectorResult.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/GlobalHistogramBinarizer.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/GreyscaleLuminanceSource.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/GreyscaleRotatedLuminanceSource.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/GridSampler.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/HybridBinarizer.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/IllegalArgumentException.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/PerspectiveTransform.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/Point.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/GenericGF.h" target-dir="zxing/common/reedsolomon" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/GenericGFPoly.h" target-dir="zxing/common/reedsolomon" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/ReedSolomonDecoder.h" target-dir="zxing/common/reedsolomon" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/reedsolomon/ReedSolomonException.h" target-dir="zxing/common/reedsolomon" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/Str.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/common/StringUtils.h" target-dir="zxing/common" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/DataMatrixReader.h" target-dir="zxing/datamatrix" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/BitMatrixParser.h" target-dir="zxing/datamatrix/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/DataBlock.h" target-dir="zxing/datamatrix/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/DecodedBitStreamParser.h" target-dir="zxing/datamatrix/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/decoder/Decoder.h" target-dir="zxing/datamatrix/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/CornerPoint.h" target-dir="zxing/datamatrix/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/Detector.h" target-dir="zxing/datamatrix/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/detector/DetectorException.h" target-dir="zxing/datamatrix/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/datamatrix/Version.h" target-dir="zxing/datamatrix" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/DecodeHints.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/Exception.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/FormatException.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/IllegalStateException.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/InvertedLuminanceSource.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/LuminanceSource.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/ByQuadrantReader.h" target-dir="zxing/multi" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/GenericMultipleBarcodeReader.h" target-dir="zxing/multi" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/MultipleBarcodeReader.h" target-dir="zxing/multi" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/detector/MultiDetector.h" target-dir="zxing/multi/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/detector/MultiFinderPatternFinder.h" target-dir="zxing/multi/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/multi/qrcode/QRCodeMultiReader.h" target-dir="zxing/multi/qrcode" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/MultiFormatReader.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/NotFoundException.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/CodaBarReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code128Reader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code39Reader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/Code93Reader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/EAN13Reader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/EAN8Reader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/ITFReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/MultiFormatOneDReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/MultiFormatUPCEANReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/OneDReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/OneDResultPoint.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCAReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCEANReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/oned/UPCEReader.h" target-dir="zxing/oned" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/BitMatrixParser.h" target-dir="zxing/pdf417/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/DecodedBitStreamParser.h" target-dir="zxing/pdf417/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/Decoder.h" target-dir="zxing/pdf417/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ErrorCorrection.h" target-dir="zxing/pdf417/decoder/ec" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ModulusGF.h" target-dir="zxing/pdf417/decoder/ec" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/decoder/ec/ModulusPoly.h" target-dir="zxing/pdf417/decoder/ec" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/detector/Detector.h" target-dir="zxing/pdf417/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/detector/LinesSampler.h" target-dir="zxing/pdf417/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/pdf417/PDF417Reader.h" target-dir="zxing/pdf417" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/BitMatrixParser.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DataBlock.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DataMask.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/DecodedBitStreamParser.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/Decoder.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/decoder/Mode.h" target-dir="zxing/qrcode/decoder" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/AlignmentPattern.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/AlignmentPatternFinder.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/Detector.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPattern.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPatternFinder.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/detector/FinderPatternInfo.h" target-dir="zxing/qrcode/detector" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/ErrorCorrectionLevel.h" target-dir="zxing/qrcode" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/FormatInformation.h" target-dir="zxing/qrcode" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/QRCodeReader.h" target-dir="zxing/qrcode" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/qrcode/Version.h" target-dir="zxing/qrcode" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/Reader.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/ReaderException.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/Result.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/ResultPoint.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/ResultPointCallback.h" target-dir="zxing" />
        <header-file src="src/ios/zxing-cpp/core/src/zxing/ZXing.h" target-dir="zxing" />

        <framework src="libiconv.dylib" />
        <framework src="AVFoundation.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreImage.framework" />
        <framework src="AudioToolbox.framework" />
    </platform>

    <!-- android -->
    <platform name="android">

        <source-file src="src/android/com/phonegap/plugins/barcodescanner/BarcodeScanner.java" target-dir="src/com/phonegap/plugins/barcodescanner" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="android-package" value="com.phonegap.plugins.barcodescanner.BarcodeScanner" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="com.google.zxing.client.android.CaptureActivity"
                android:clearTaskOnLaunch="true"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:exported="false">
                <intent-filter>
                    <action android:name="com.google.zxing.client.android.SCAN"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.encode.EncodeActivity" android:label="Share">
                <intent-filter>
                    <action android:name="com.phonegap.plugins.barcodescanner.ENCODE"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
            <activity android:name="com.google.zxing.client.android.HelpActivity" android:label="Share">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <!-- Not required to allow users to work around this -->
            <uses-feature android:name="android.hardware.camera" android:required="false" />
        </config-file>

        <framework src="src/android/barcodescanner.gradle" custom="true" type="gradleReference"/>
        <resource-file src="src/android/barcodescanner-release-2.0.1.aar" target="libs/barcodescanner.aar" />

        <dependency id="cordova-plugin-compat" version="^1.2.0" />
    </platform>

    <platform name="windows">
        <js-module src="src/windows/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <merges target="" />
        </js-module>

        <config-file target="package.appxmanifest" parent="/Package/Capabilities">
            <DeviceCapability Name="webcam" />
        </config-file>

        <framework src="src/windows/lib.UW/x86/ZXing.winmd" target-dir="x86" arch="x86" custom="true" versions=">8.1" />
        <framework src="src/windows/lib.UW/x64/ZXing.winmd" target-dir="x64" arch="x64" custom="true" versions=">8.1" />
        <framework src="src/windows/lib.UW/ARM/ZXing.winmd" target-dir="ARM" arch="ARM" custom="true" versions=">8.1" />
        <framework src="src/windows/lib/WinRTBarcodeReader.csproj" custom="true" type="projectReference" versions="&lt;=8.1"/>

        <asset src="src/windows/assets/plugin-barcodeScanner.css" target="css/plugin-barcodeScanner.css" />
        <hook src="hooks/windows/check-arch.js" type="before_compile" />
        <hook src="hooks/windows/check-arch.js" type="before_run" />
    </platform>

    <!-- Windows Phone 8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="wp-package" value="BarcodeScanner"/>
            </feature>
        </config-file>

        <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
            <Capability Name="ID_CAP_ISV_CAMERA" />
        </config-file>

        <framework src="src/wp8/lib/zxing.wp8.0.dll" custom="true" />

        <asset src="src/wp8/assets/cancel.png" target="Images/appbar.cancel.png" />

        <source-file src="src/wp8/BarcodeScanner.cs" />
        <source-file src="src/wp8/BarcodeScannerTask.cs" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml" />
        <source-file src="src/wp8/BarcodeScannerUI.xaml.cs" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BarcodeScanner">
                <param name="browser-package" value="BarcodeScanner" />
            </feature>
        </config-file>

        <js-module src="src/browser/BarcodeScannerProxy.js" name="BarcodeScannerProxy">
            <runs />
        </js-module>
    </platform>

    <!-- BlackBerry 10 -->
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir="BarcodeScanner" />
        <source-file src="src/blackberry10/qrcode.js" target-dir="BarcodeScanner" />
        <lib-file src="src/blackberry10/native/device/libBarcodeScanner.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libBarcodeScanner.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="BarcodeScanner">
		<param name="blackberry-package" value="phonegap-plugin-barcodescanner" />
	    </feature>
        </config-file>
        <config-file target="www/config.xml" parent="/widget/rim:permissions">
            <rim:permit>use_camera</rim:permit>
        </config-file>
        <dependency id="cordova-plugin-bb-app" />
    </platform>
</plugin>
